<?xml version="1.0" encoding="UTF-8" standalone="no"?><!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
--><root>
    <users>
        
        
        
    </users>
<user><FirstName>hello</FirstName><LastName>hello</LastName><Password>hello</Password><BirthMonth>hello</BirthMonth><BirthDay>hello</BirthDay><BirthYear>hello</BirthYear><gender>hello</gender><PhoneNumber>hello</PhoneNumber><PinCode>hello</PinCode></user></root>